body {
  font-family: Manrope, sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #1E1B1B;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.button {
  border-radius: 12px;
  padding: 16px 40px;
  font-size: 18px;
  line-height: 32px;
  background-color: #FF6433;
  color: #fff;
  transform: scale(1);
  transition: all .3s;
}

.button:hover {
  transform: scale(1.1);
}
/* =========================HEADER========================== */

.header {
  margin-bottom: 135px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.header__logo {
  margin-top: 30px;
}

.header__navbar {
  display: flex;
}

.navbar__menu {
  margin-top: 30px;
}

.btn__item {
  display: inline-block;
  margin-right: 40px;
  line-height: 28px;
  transform: scale(1);
  transition: all .3s;
}

.btn__item:hover {
  transform: scale(1.1);
}

.navbar__slash {
  border: 1px solid #939191;
  width: 0px;
  height: 42px;
  margin-top: 24px;
}

.navbar__contacts {
  margin-left: 85px;
  margin-top: 18px;
  transform: scale(1);
  position: relative;
  transition: all .3s;
}

.navbar__contacts:hover {
  transform: scale(1.1);
}

.navbar__contacts::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -55px;
  background: url(../image/icon/call-Icon.svg) 0 0 / 100% 100% no-repeat;
  width: 40px;
  height: 40px;
}

.contacts__user {
  font-weight: 500;
  line-height: 24px;
  opacity: 0.7;
}

.contacts__tel {
  font-size: 18px;
  line-height: 32px;
}

.header__body {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 80px;
}

.header__image {
  position: relative;
}

.header__time-box {
  position: absolute;
  top: 81px;
  left: -30px;
  border: 12px solid rgba(225, 225, 225, 0.43);
  border-radius: 59px;
  width: 293px;
  height: 114px;
  box-shadow: 0 28px 118px 0 rgba(109, 108, 115, 0.12);
  background: linear-gradient(174deg, #fff 0%, #fff 100%);
  display: flex;
  background-clip: padding-box;
}

.header__img-time {
  font-size: 24px;
  line-height: 36px;
  margin-left: 98px;
  letter-spacing: -0.03em;
  align-self: center;
}

.header__img-time::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  background: url(../image/icon/quick-icon.svg) 0 0 / 100% no-repeat;
  width: 70px;
  height: 70px;
}

.header-content {
  align-self: center;
  max-width: 624px;
}

.header__title {
  font-weight: 800;
  font-size: 64px;
  line-height: 84px;
  margin-bottom: 32px;
}

.header__btn {
  margin-right: 33px;
}

.btn__video {
  display: inline-block;
  font-weight: 500;
  position: relative;
  margin: 20px 0 0 60px;
  transform: scale(1);
  transition: all .3s;
}

.btn__video::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -35px;
  background: url(../image/icon/play-icon.svg) 0 0 / 100% no-repeat;
  width: 24px;
  height: 24px;
}

.btn__video:hover {
  transform: scale(1.05);
}

.header__info-box {
  position: relative;
}

.header__info-box::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  background: url(../image/icon/clock-Icon.svg) 0 0 / 100% no-repeat;
  width: 31px;
  height: 31px;
}

.header__text {
  font-weight: 500;
  line-height: 24px;
  color: #939191;
  margin: 48px 0 0 45px;
}

.header__desc {
  font-size: 18px;
  line-height: 32px;
  margin-left: 45px;
}

/*===========================SERVICES========================*/


.services {
  background-color: #F2F2F2;
  padding-top: 1px;
  padding-bottom: 128px;
}

.services__top {
  text-align: center;
}

.services__subtitle {
  margin-top: 130px;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
}

.services__title {
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  letter-spacing: -0.03em;
  margin: 0 auto 64px;
  max-width: 858px;
}

.services__grid-box {
  display: grid;
  grid-template: repeat(2, 232px) / repeat(4, 1fr);
  gap: 8px;
  justify-content: center;
  align-content: center;
}

.services__grid {
  background-color: #fff;
  place-items: center;
  align-content: center;
  cursor: pointer;
  transition: all .3s;
}

.services__grid-image path {
  transition: fill .3s;
}

.services__grid:hover {
  background-color: #FF6433;
  color: #fff;
}

.services__grid:hover .services__grid-image path {
  fill: #fff;
}

.services__grid-desc {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  margin: 12px;
}

.services__bottom {
  margin: 32px 68px 0 0;
  text-align: end;
}

.services__link {
  display: inline-block;
  font-size: 18px;
  line-height: 32px;
  position: relative;
  transition: all .3s;
}

.services__link:hover {
  color: red;
}

.services__link-arrow {
  position: absolute;
  display: inline-block;
  left: 188xpx;
  top: 9px;
  width: 61px;
  height: 23px;
  z-index: 1000;
}

.services__link-arrow path {
  transition: fill .3s;
}

.services__link:hover .services__link-arrow path {
  fill: red;
}

/* ================PROCESS=========================*/
.process {
  padding-top: 1px;
  margin-top: 134px;
}

.process__inner {
  display: flex;
  justify-content: space-between;
}

.pocess__content {
  max-width: 524px;
}

.process__title {
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  letter-spacing: -0.03em;
  margin-bottom: 16px;
}

.process__text {
  line-height: 28px;
  opacity: 0.6;
  margin-bottom: 32px;
}

.process__btn {
  margin-bottom: 265px;
}


.process__claim {
  list-style: none;
  margin: 0;
  padding: 0;
}

.process__list {
  max-width: 335px;
  margin-right: 200px;
  position: relative;
}

.process__list::before {
  position: absolute;
  content: "01";
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #fff;
  top: -10px;
  left: -100px;
  background: url(../image/icon/elipse-icon.svg) 0 0 / 100% no-repeat;
  width: 72px;
  height: 72px;
  background-color: #661CE7;
  border-radius: 50%;
}

.process__list::after {
  position: absolute;
  content: "";
  top: 74px;
  left: -65px;
  border: 2px dashed #FF6433;
  width: 0px;
  height: 71px;
}

.process__list:last-child:after {
  display: none;
}

.process__claim-tittle {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.03em;
  margin-bottom: 9px;
}

.process__claim-text {
  font-size: 18px;
  line-height: 32px;
  opacity: 0.6;
  margin-bottom: 16px;
}

/* ===================CTA==================== */

.cta {
  padding-bottom: 1px;
}

.cta__image-box {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 500px;
}

.cta__img {
  width: 50%;
  object-fit: cover;
}

.cta__content-text {
  position: absolute;
  top: 0;
  left: 70px;
  width: 730px;
  height: 500px;
  background-color: #FF6433;
  z-index: 1111;
}

.cta__text {
  font-weight: 700;
  font-size: 48px;
  line-height: 67px;
  letter-spacing: -0.03em;
  color: #fff;
  margin: 128px 80px 48px;
}

.cta__btn {
  background-color: #1E1B1B;
  margin-left: 60px;
}

.cta__info {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.cta__info-list {
  display: flex;
  justify-content: space-between;
}

.cta__list-item {
  margin: 48px 0;
}

.cta__item {
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  letter-spacing: -0.03em;
  color: #661CE7;
  margin-bottom: 2px;
}

.cta__list-text {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  opacity: 0.7;
}

/* ====================BRANDS================== */

.brands {
  background-color: #E2E6E9;
  padding: 1px 0 82px;
}

.brands__tittle {
  font-size: 58px;
  margin: 128px 0 31px;
  font-weight: 800;
  line-height: 76px;
  letter-spacing: -0.03em;
  text-align: center;
}

.brands__logo {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(5, auto);
  gap: 38px;
}

.brands__logo-item {
  cursor: pointer;
  transform: scale(1);
  transition: all .3s;
}

.brands__logo-item:hover {
  transform: scale(1.05);
}

/* ============================BLOG===================== */

.blog {
  margin-top: 131px;
  margin-bottom: 136px;
  padding-bottom: 1px;
}

.blog__tittle {
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  letter-spacing: -0.03em;
  margin-bottom: 47px;
}

.blog__btn-box {
  margin-bottom: 46px;
}

.blog__btn-tab {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.03em;
  margin-right: 30px;
}

.blog__btn-tab:last-child {
  margin-right: 30px;
}

.blog__content {
  display: grid;
  grid-template: repeat(2, auto) / repeat(3, 1fr);
  gap: 64px 32px;
}

.blog__card {}

.blog__card-date {
  line-height: 28px;
  color: #939191;
  margin: 24px 0 16px;
}

.blog__card-tittle {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.03em;
  margin-bottom: 16px;
}

.blog__card-text {
  line-height: 28px;
  color: #232536;
}

/* =======================SLIDER=========================== */

.slider {
  background-color: #F2F2F2;
  padding: 1px 0;
}

/* =======================ACCORDION======================== */

.accordion {
  background-color: #E2E6E9;
  padding: 1px 0;
}

/* =======================CONTACTS========================== */

.contacts {
  margin-top: 121px;
}

.contacts__tittle {
  font-weight: 800;
  font-size: 64px;
  line-height: 84px;
  letter-spacing: -0.03em;
  max-width: 500px;
  margin-bottom: 48px;
}

.contacts__content {
  display: flex;
  justify-content: space-between;
}

.contacts__form {
  display: inline-flex;
  flex-direction: column;
  max-width: 620px;
  width: 100%;
  margin-bottom: 50px;
}

.contacts__input {
  background: #F2F2F2;
  padding: 23px 20px 23px 40px;
  margin-bottom: 4px;
}

.contacts__input::placeholder {
  line-height: 28px;
  color: #1E1B1B;
}

.contacts__textarea {
  padding: 23px 20px 23px 40px;
  background: #F2F2F2;
  resize: vertical;
  margin-bottom: 48px;
}

.contacts__textarea::placeholder {
  line-height: 28px;
  color: #1E1B1B;
}

.contacts__btn {
  max-width: 206px;
}

.contacts__item-title {
  display: block;
  line-height: 28px;
  opacity: 0.7;
  margin-bottom: 2px;
}

.contacts__item-desc {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
}

.contacts__item-tel {
  transition: color .3s;
}

.contacts__item-tel:hover {
  color: red;
}

.contacts__item-mail {
  transition: all .3s;
}

.contacts__item-mail:hover {
  color: red;
}

.contacts__map {
  display: flex;
  justify-content: center;
  max-width: 1280px;
  width: 100%;
  z-index: 1;
  transform: translateY(120px);
}

.contacts__img {
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

/* ====================FOOTER=================== */

.footer__top {
  padding: 128px 0 130px;
  background-color: #1E1B1B;
  opacity: 0.98;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}

.footer__content-tittle {
  font-weight: 700;
  font-size: 48px;
  line-height: 67px;
  letter-spacing: -0.03em;
  color: #fff;
  max-width: 460px;
  margin-bottom: 64px;
}

.footer__img {
  margin-right: 23px;
}
.footer__img:last-child {
  margin-right: 0;
}

.footer__item-title {
  font-size: 18px;
  line-height: 32px;
  color: #fff;
  opacity: 0.6;
  margin-bottom: 8px;
}

.footer__list-desc {
  display: block;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 32px;
}

.footer__bottom {
  background-color: #1E1B1B;
  padding: 64px 0 66px;
}

.footer__inner-bottom {
}

.footer__bottom-content {
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.footer__logo {
  transform: scale(1);
  transition: all .3s;
}

.footer__logo:hover {
  transform: scale(1.05);
}

.footer__btn-item {
  display: inline-block;
  margin-right: 36px;
  line-height: 28px;
  transform: scale(1);
  transition: all .3s;
}
.footer__btn-item:hover {
  transform: scale(1.1);
}

.footer__list-item {
  margin-left: 170px;
}